<div class="popup__round">

    <div class="popup__control-wrapper">
        <div class="popup__control popup__control--round js-control" data-type="round" data-min="0" data-max="25" data-prefix="temp"></div>
        <svg class="popup__control-bg popup__control-bg--mask js-control-mask-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 221 221">
            <mask id="popup__round-mask">
                  <circle cx="110.5" cy="110.5" r="98.5" fill="none" stroke="red" stroke-width="26" stroke-dasharray="618" stroke-dashoffset="309" class="js-control-mask" />
            </mask>
        </svg>
        <svg class="popup__control-bg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 221 221">
          <circle cx="110.5" cy="110.5" r="98.5" fill="none" stroke="#333" stroke-width="24" stroke-dasharray="1,4"/>
        </svg>
        <svg class="popup__control-bg popup__control-bg--masked js-control-masked" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 221 221">
          <circle cx="110.5" cy="110.5" r="98.5" fill="none" stroke="#F5A623" stroke-width="24" stroke-dasharray="1,4"/>
        </svg>
        <div class="popup__control-center-value js-control-center-value"></div>
    </div>
</div>