<section class="scenarios section section--50 js-scenarios">
    <div class="section__header">
        <h2 class="section__title">Избранные сценарии</h2>

        <div class="section__arrows">
            <button class="section__arrow section__arrow--left  js-scenarios-slider-left  disabled"><img src="img/icons/icon_arrow_left.svg" alt="Стрелка влево" class="section__arrows-icon" /></button>
            <button class="section__arrow section__arrow--right js-scenarios-slider-right disabled"><img src="img/icons/icon_arrow_left.svg" alt="Стрелка вправо" class="section__arrows-icon" /></button>
        </div>
    </div>

    <div class="section__content">
        <div class="scenarios__slider js-scenarios-slider">
            <ul class="scenarios__slider-inner js-scenarios-slider-inner">
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Выключить весь свет в доме и во дворе",
                        "img1": "img/icons/icon_sun.svg",
                        "img2": "img/icons/icon_sun_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Я ухожу",
                        "img1": "img/icons/icon_scheduled.svg",
                        "modes": 1,
                        "mode": 1
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Включить свет<br />в коридоре",
                        "img1": "img/icons/icon_sun.svg",
                        "img2": "img/icons/icon_sun_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Набрать горячую ванну",
                        "subtitle": "Начнётся в 18:00",
                        "img1": "img/icons/icon_temperature.svg",
                        "img2": "img/icons/icon_temperature_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Сделать пол тёплым во всей квартире",
                        "img1": "img/icons/icon_temperature.svg",
                        "img2": "img/icons/icon_temperature_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Выключить весь свет в доме и во дворе",
                        "img1": "img/icons/icon_sun.svg",
                        "img2": "img/icons/icon_sun_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Я ухожу",
                        "img1": "img/icons/icon_scheduled.svg",
                        "modes": 1,
                        "mode": 1
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Включить свет<br />в коридоре",
                        "img1": "img/icons/icon_sun.svg",
                        "img2": "img/icons/icon_sun_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Набрать горячую ванну",
                        "subtitle": "Начнётся в 18:00",
                        "img1": "img/icons/icon_temperature.svg",
                        "img2": "img/icons/icon_temperature_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Сделать пол тёплым во всей квартире",
                        "img1": "img/icons/icon_temperature.svg",
                        "img2": "img/icons/icon_temperature_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Выключить весь свет в доме и во дворе",
                        "img1": "img/icons/icon_sun.svg",
                        "img2": "img/icons/icon_sun_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Я ухожу",
                        "img1": "img/icons/icon_scheduled.svg",
                        "modes": 1,
                        "mode": 1
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Включить свет<br />в коридоре",
                        "img1": "img/icons/icon_sun.svg",
                        "img2": "img/icons/icon_sun_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Набрать горячую ванну",
                        "subtitle": "Начнётся в 18:00",
                        "img1": "img/icons/icon_temperature.svg",
                        "img2": "img/icons/icon_temperature_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
                <li class="scenarios__slider-item js-scenarios-slider-item">
                    @@include('blocks/components/bubble/bubble.html', {
                        "title": "Сделать пол тёплым во всей квартире",
                        "img1": "img/icons/icon_temperature.svg",
                        "img2": "img/icons/icon_temperature_2.svg",
                        "modes": 2,
                        "mode": 2
                    })
                </li>
            </ul>
        </div>
    </div>
</section>