.btn-row {
    &__inner {
        overflow: hidden;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        @include media-breakpoint-down(sm) {
            display: block;
            white-space: nowrap;
        }
    }

    &__item {
        margin: 0 10px 0 0;
        white-space: nowrap;

        @include media-breakpoint-down(sm) {
            display: inline-block;
        }

        &:last-child {
            margin: 0;
        }
    }
}